*{
    font-family: 'Noto Sans JP', sans-serif;
  }
  
  body{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template: 95px auto auto .15fr / 1% 200fr 1%;
    margin-bottom: 0;
  }

/* Header Styling */
header{
  grid-area: 1 / 2 / span 1 / span 1;
}

#toggleButton{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  color:#444054;
  font-size: 1vw;
}

#toggleButton:hover{
    color: #702082;
}

a { 
  color: inherit;
  text-decoration: none;   
}

#navigation{
  display: grid;
  grid-template: 95px 1fr / 6fr minmax(50rem, 1rem)  1fr ;
  align-items: center;
}

ul{
    grid-area: 1 / 2 / 1 / span 1;
    justify-self: end;
}

li{
    display: inline;  
}

section{
    grid-area: 2 / 1 / span 1 / span 3; 
}

h1{
    grid-area: 1 / 2 / span 1 / span 1;
    font-size: 12vw;
    justify-self: center;
    align-self: center;
    color: #702082;
    margin: 40%, 0, 0, 0;
}

.logo{
    grid-area: 1 / 1 / span 1 / span 1;  
}

#logoimg{
    width: 12rem;
    height: auto;
}

#toggleButton{
    grid-area: 1 / 3 / 1 / span 1;
    justify-self: end;
}

/*Dropdown Menu Styling */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    position: relative; 
}

a {
    text-decoration: none;
    color: #444054;
    padding: 10px 15px;
    display: block;
    font-size: 1vw;
}

.list > li {
    display: inline-block; 
}

.dropdown {
    opacity: 0.5;
    display: none; 
    position: absolute; 
    top: 100%; 
    background-color: #444054; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000; 
}

.dropdown li {
    width: 150px; 
}

.list > li > a:hover {
    color: #702082; 
}

.list > li:hover .dropdown {
    display: block; 
}

.dropdown a {
    color: #ffffff;
    padding: 10px;
}

.dropdown a:hover {
    color: #702082; 
}

/*main styling */
main {
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template: auto auto auto auto / 1fr;
    height: auto;
    row-gap: 1%;
}

.about{
    grid-area: 1 / 2 / span 1 / span 1;

}
table { 
    width: 75%;
    justify-self: center;
    margin-top: 5%;
    border-collapse: collapse;
    overflow-x: auto;
}

td{
    padding: 1.25rem;
    color: #444054;
    border-bottom: 1px solid #444054;
}

.title{
    color: #702082;
    width: 17%;
}
/*Message From Founder Styling*/
.message{
    grid-area: 2 / 2 / span 1 / span 1;
    display: grid;
    grid-template: auto / 1fr 1fr;
    justify-self: center;
    align-self: center;
}

.message article{
    grid-area: 1 / 1 / span 1 / span 1;
    justify-self: center;
    align-self: center;
    height: 100%;
}

.message article h3 {
    padding-left: 10%;
    margin: 0;
    color: #702082;
    padding-top:10%;
    font-size: 3vw;
}

.message article p {
    font-size: 1.25vw;
    width: 100%;
    padding-left: 10%;
    color: #444054;
    padding-bottom: 10%;
}

#jim {
    grid-area: 1 / 2 / 2 / span 1;
    max-width: 30vw;
    justify-self: center;
    align-self: center;
}

/* Team Styling */
.team{
    grid-area: 3 / 2 / span 1 / span 1;
    justify-self: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    margin-bottom: 10%;
}

.team h2 {
    color: #702082;
    font-size: 8vw
}

.team h3 {
    color: #444054;
    padding: 1%;
    font-size: 3vw;
}

.team strong{
    color: #702082;
    font-size: 1.5vw;
}

.team p {
    color: #444054;
    font-size: 1.5vw;
}

/*Our Logo*/
#logo1 {
    grid-area: 4 / 1 / span 1 / span 2;
    display: grid;
    grid-template: auto / 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 15%;
    padding-left: 0;
}

.logo1 article{
    grid-area: 1 / 2 / span 1 / span 1;
    justify-items: center;
    align-items: center;
}

.Head {
    margin: 0;
    color: #702082;
    font-size: 3vw;
    padding-left: 10%;
    align-self: center;
}

.Text{
    font-size: 1.25vw;
    width: 80%;
    color: #444054;
    padding-bottom: 10%;
    justify-self: center;
    align-self: center;
    padding-left: 0;
}



.logo1 img {
    grid-area: 1 / 1 / span 1 / span 1;
    max-width: 25vw;
    justify-self: start;
    align-self: center;
}



/*Footer Styling*/
footer{
    grid-area: 4 / 1 / span 1 / span 3;
    background-color: #702082;
}

address{
    font-style: normal;
}

.footer{
    display: grid;
    grid-template: repeat(2,1fr) / 1% repeat(3, 1fr) 1%;
    grid-area: 2 / 2 / span 1 / span 1;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.address{
    grid-area: 1 / 2 / span 1 / span 1;
}

.phone{
    grid-area: 2 / 2 / span 1 / span 1;
    align-self: end;
}

/* Footer logo styling*/
#footerLogo{
    grid-area: 1 / 3 / span 2 / span 1;
    height: 40rem;
    width: auto;
    align-self: center;
    justify-self: center;
    margin: 0;
}

h3{
    display: block;
    font-size: 2rem;
    color: #FFB7C5;
}

footer p{
    color: white;
}

/*Social Media Styling*/
ul.social-links li {
    display: inline-block;  /* Displays the items horizontally */
}

ul.social-links li a {
    display: inline-block;
    width: 3rem;  /* Adjust width for consistency */
    height: 3rem; /* Adjust height for consistency */
}

ul.social-links li a img{
    max-width: 100%;  /* Ensure images are responsive */
    height: auto;
}

ul.social-links li a img:hover {
    opacity: 50%;
}

.socialMedia{
    grid-area: 2 / 4 / span 1 / span 1;
    justify-self: end;
    align-self: end;
}

