*{
    font-family: 'Noto Sans JP', sans-serif;
  }

html {
    scroll-behavior: smooth;
}

:root {
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
  --step-7: clamp(4.0311rem, 3.36rem + 3.3555vw, 5.9605rem);
  --step-8: clamp(4.8373rem, 3.9283rem + 4.5448vw, 7.4506rem);
  --step-9: clamp(5.8048rem, 4.5844rem + 6.1017vw, 9.3132rem);
  --step-10: clamp(6.9657rem, 5.3393rem + 8.1319vw, 11.6415rem);
}
  
  body{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template: 95px auto .15fr / 1% 1fr 2fr 1%;
    margin-bottom: 0;
    font-size: var(--step-0);
  }

/* Header Styling */
header{
  grid-area: 1 / 2 / span 1 / span 2;
}

.hamburgerIcon{
    display: none;
}

#toggleButton{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
  color:#444054;
  font-size: var(--step-0);
  z-index: 1002;
}

#toggleButton:hover{
    color: #702082;
}

a { 
  color: inherit;
  text-decoration: none;   
}

#navigation{
    display: grid;
    grid-template: 95px 45vw / 6fr minmax(40rem, 1rem)  68px ;
    align-items: center;
  }

ul{
    grid-area: 1 / 2 / 1 / span 1;
    justify-self: end;
}

li{
    display: inline;  
}

section{
    grid-area: 2 / 1 / span 1 / span 3; 
}

.logo{
    grid-area: 1 / 1 / span 1 / span 1;  
}

#logoimg{
    width: 12rem;
    height: auto;
}

#toggleButton{
    grid-area: 1 / 3 / 1 / span 1;
    justify-self: end;
    z-index: 1002;
}

/*Dropdown Menu Styling */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: relative; 
}

a {
  text-decoration: none;
  color: #444054;
  padding: 10px 15px;
  display: block;
  font-size: var(--step--0);
}

.list > li {
  display: inline-block; 
}

.dropdown {
  opacity: 0.5;
  display: none; 
  position: absolute; 
  top: 100%; 
  background-color: #444054; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

.dropdown li {
  width: auto; 
  font-size: var(--step--2);
}

.list > li > a:hover {
  color: #702082; 
}

.list > li:hover .dropdown {
  display: block; 
}

.dropdown a {
  color: #ffffff;
  padding: 10px;
}

.dropdown a:hover {
  color: #702082; 
}

/* Main Styling */

.pagoda{
    grid-area: 1 / 1 / span 2 / span 2;
    width: 100%;
    z-index: -100;
}
main {
    grid-area: 2 / 3 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

main h2 {
    color: #702082;
    font-size: var(--step-5);
    width: 100%;
}

form {
   width: 50%;
   height: 60%;
   text-align: center;
}

input{
    width: 100%;
    margin-bottom: 8%;
    height: 5%;
    color: #444054;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5); /* Adjusts only text opacity */
    border: #444054 solid 1px;
    border-radius: 5px;
    font-size: var(--step-0);
    padding: 3% 3%
}

textarea{
    width: 100%;
    margin-bottom: 8%;
    height: 20%;
    color: #444054;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5); /* Adjusts only text opacity */
    border: #444054 solid 1px;
    border-radius: 5px;
    font-size: var(--step-0);
    padding: 1% 3%;
}

form button{
  background-color: #702082;
  border: none;
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  color:white;
  font-size: var(--step-0);
  width: auto;
  padding: 2% 4%;
}

form button:hover {
    background-color: #444054;
}

h4 {
    color: #702082;
    font-size: var(--step-2);
    justify-self: start;
    margin: 0;
}

/*Footer Styling*/
footer{
  grid-area: 3 / 1 / span 1 / span 3;
  background-color: #702082;
}

address{
  font-style: normal;
}

.footer{
  display: grid;
  grid-template: 1fr 2fr / 1% repeat(3, 1fr) 1%;
  grid-area: 2 / 2 / span 1 / span 1;
}

.address{
  grid-area: 2 / 2 / span 1 / span 1;
}

/* Footer logo styling*/
#footerLogo{
    grid-area: 1 / 3 / span 2 / span 1;
    height: 25rem;
    width: auto;
    align-self: center;
    justify-self: center;
    margin: 0;
}

h3{
    display: block;
    font-size: var(--step-2);
    color: #FFB7C5;
}

footer p{
    color: white;
    font-size: var(--step-0)
}

/*Social Media Styling*/
ul.social-links li {
    display: inline-block;  /* Displays the items horizontally */
}

ul.social-links li a {
    display: inline-block;
    width: 3rem;  /* Adjust width for consistency */
    height: 3rem; /* Adjust height for consistency */
}

ul.social-links li a img{
    max-width: 100%;  /* Ensure images are responsive */
    height: auto;
}

ul.social-links li a img:hover {
    opacity: 50%;
}

.socialMedia{
    grid-area: 2 / 4 / span 1 / span 1;
    justify-self: end;
    align-self: end;
}

@media (max-width: 1080px){

  main h2 {
    color: #702082;
    font-size: var(--step-4);
    width: 100%;
}

form {
   width: 50%;
   height: 60%;
   text-align: center;
}

input{
    width: 100%;
    margin-bottom: 8%;
    height: 5%;
    color: #444054;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5); /* Adjusts only text opacity */
    border: #444054 solid 1px;
    border-radius: 5px;
    font-size: var(--step--1);
    padding: 3% 3%
}

textarea{
    width: 100%;
    margin-bottom: 8%;
    height: 20%;
    color: #444054;
    -webkit-text-fill-color: rgba(0, 0, 0, 0.5); /* Adjusts only text opacity */
    border: #444054 solid 1px;
    border-radius: 5px;
    font-size: var(--step--1);
    padding: 1% 3%;
}

form button{
  background-color: #702082;
  border: none;
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  color:white;
  font-size: var(--step--1);
  width: auto;
  padding: 2% 4%;
}

form button:hover {
    background-color: #444054;
}

h4 {
    color: #702082;
    font-size: var(--step-1);
    justify-self: start;
    margin: 0;
}

footer p{
  color: white;
  font-size: var(--step--1)
}

}

/*Mobile Media Querys*/
@media (max-width: 1000px) {

    body{
      display: grid;
      margin: 0;
      padding: 0;
      grid-template: 95px auto auto/ 1% 200fr 1%;
      margin-bottom: 0;
      font-size: var(--step-0);
      }
    
    header{
      grid-area: 1 / 2 / 1 / span 1;
      max-height: 200px;
        }
    
    #logoimg{
      width: 10rem;
      height: auto;
      }
    
    #navigation{
      display: grid;
      grid-template: 15% 40vw/ 6fr 1fr  1fr ;
      align-items: center;
      }
    
    #navigation .logo{
      padding-left:0;
    }
    
        #toggleButton{
            grid-area: 1 / 2 / 1 / span 1;
            justify-self: center;
        }

    /*Hamburger Icon Styling*/
      
    .hamburgerIcon{
        grid-area: 1 / 2 / span 2 / span 2; /* Placed in the desired grid cell */
        justify-self: end; /* Align to the end of the grid cell horizontally */
        align-self: start; /* Center vertically */
        z-index: 1001; /* Ensure it appears above other elements */ 
        display: block;
        font-size: var(--step--1);
     }
      
      /* Hamburger */
      .hamburger1 {
        height: 40px;
        margin-top: 20%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        z-index: 120;
        justify-self: end;
        align-self: center;
      }
      
      .hamburger1 div {
        background-color: #702082;
        width: 35px;
        height: 5px;
        padding: 2%
      }
      
      #toggle1 {
        display: none;
      }
      
      #toggle1:checked + .hamburger1 .top {
        -webkit-transform: rotate(0);
                transform: rotate(0);
      }
      
      #toggle1:checked ~ .menu1 {
        height: auto;
      }
      
      
      /* Menu */
      .menu1 {
        height: 0;
        background-color: white;
        margin-top: 0;
        display: grid;
        grid-template-rows: 1fr repeat(4, auto);
        grid-row-gap: 1%;
        list-style: none;
        clear: both;
        text-align: center;
        overflow: hidden;
        grid-area: 1 / 3 / span 2 / span 1;
        width: auto;
      }
      
      .menu1 a:first-child {
        margin-top: 10%;
        
      }
      
      .menu1 a:last-child {
        margin-bottom: 2%;
      }
      
      .link1 {
        width: auto;
        color: #444054;
      }
    
      .menu1 a {
        font-size: 12px;
        height: auto;
        margin:auto;
        width: auto;
      }
      
      .menu1 a:hover {
       color: #702082;
      }
    
      #navigation > ul {
        visibility: hidden;
      }

      .pagoda{
        display: none;
    }

    main {
        grid-area: 2 / 2 / span 1 / span 1;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        text-align: center;
        height: 100%;
        margin-bottom: 50%;
    }
    
    main h2 {
        color: #702082;
        font-size: var(--step-4);
        width: 100%;
    }
    
    form {
       width: 75%;
       height: 60%;
       text-align: center;
    }
    
    input{
        width: 100%;
        margin-bottom: 8%;
        min-height: 10%;
        color: #444054;
        -webkit-text-fill-color: rgba(0, 0, 0, 0.5); /* Adjusts only text opacity */
        border: #444054 solid 1px;
        border-radius: 5px;
        font-size: var(--step--2);
        padding: 0 3%;
    }
    
    textarea{
        width: 100%;
        margin-bottom: 8%;
        height: 20%;
        color: #444054;
        -webkit-text-fill-color: rgba(0, 0, 0, 0.5); /* Adjusts only text opacity */
        border: #444054 solid 1px;
        border-radius: 5px;
        font-size: var(--step--2);
        padding: 1% 3%;
    }
    
    form button{
      background-color: #702082;
      border: none;
      margin: 2%;
      padding: 2% 4%;
      border-radius: 5px;
      color:white;
      font-size: var(--step--0);
      width: auto;
    }
    
    form button:hover {
        background-color: #444054;
    }
    
    h4 {
        color: #702082;
        font-size: var(--step-2);
        justify-self: center;
        margin: 0;
    }

/*Footer Styling*/
footer{
  grid-area: 3 / 1 / span 1 / span 3;
  background-color: #702082;
}

address{
  font-style: normal;
}

.footer{
  display: grid;
  grid-template: repeat(4,auto) / 1% 1fr 1%;
  grid-area: 2 / 2 / span 1 / span 1;
  margin: 0;
}

.address{
  grid-area: 1 / 2 / span 1 / span 1;
  text-align: center;
  width: 75%;
  justify-self: center;
}

.phone{
  grid-area: 2 / 2 / span 1 / span 1;
  text-align: center;

}

/* Footer logo styling*/
#footerLogo{
  grid-area: 4 / 2 / span 1 / span 1;
  height: 15rem;
  width: auto;
  align-self: center;
  justify-self: center;
  margin-bottom: 5%;
}

h3{
  display: block;
  font-size: var(--step-0);
  color: #FFB7C5;
  text-align: center;
}

footer p{
  color: white;
  font-size: var(--step--2);
  text-align: center;
}

/*Social Media Styling*/
.socialMedia h3{
  justify-self: center;
}

.social-links{
  width: auto;
}

ul.social-links li {
  display: inline-block;  /* Displays the items horizontally */
}

ul.social-links li a {
  display: inline-block;
  width: 1.5rem;  /* Adjust width for consistency */
  height: auto; /* Adjust height for consistency */
}

ul.social-links li a img{
  max-width: 100%;  /* Ensure images are responsive */
  height: auto;
}

ul.social-links li a img:hover {
  opacity: 50%;
}

.socialMedia{
  grid-area: 3 / 2 / span 1 / span 1;
  justify-self: center;
  align-self: center;
}
    }